body{
    background-color: #f0f0f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.login-div {
    display:inline-block;
    padding: 15px;
    box-shadow: 0 0 2px #777777;
}

.login-div input {
    padding: 3px;
    display: block;
    margin-bottom: 7px;
    
}
